.introduce {
    height: 500px;
    width: 40%;
    margin-left: 20px;
    background-color: bisque;
    text-align: center;
    border: 10px solid bisque;
    border-left: none;
    border-radius: 5px;
    box-shadow: 10px 15px 50px bisque;

}

#para {
    padding: 10px;
}

.pro-pic {
    background-color: beige;
    height: 500px;
    width: 40%;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;

    border: 10px solid beige;
    border-left: none;
    border-radius: 5px;
    box-shadow: 10px 15px 50px grey;

}